.legend__difference_type_green {
    animation: scaleGreenOpacity 10s;
    animation-fill-mode: forwards;
}

@keyframes scaleGreenOpacity {
    0% {
        transform: initial;
    }
    100% {
        transform-origin: left center 0;
        transform: scaleX(29.5);
    }
}