.legend__color_type_yellow {
    background-color: #fcd329;
    animation: scaleYellow 10s;
    animation-fill-mode: forwards;
}

@keyframes scaleYellow {
    0% {
        transform: initial;
    }
    100% {
        transform-origin: left center 0;
        transform: scaleX(32);
    }
}
